*.py[cod]
*.gif
*.bmp
*.mov
*.mkv
*.log
*.zip
*.pt
*.pth
*.ckpt
*.safetensors
*.backup
*.pkl
*.html
*.pdf
*.whl
*.txt.gz
!.gitignore
!requirements.txt
.DS_Store
*DS_Store
__pycache__/
*.cache*
*temp_path*
*_ckpt
*_results
*temp
*.pem
.gradio
ablation_*
cache
wandb
output
outputs
output_hunyuan
models
.ipynb_checkpoints
.huggingface
huggingface
autodl-tmp
.env
.env.*
!.env.example
